# Parser generator
maphoon

# External libs
lib

# Makefile
Makefile

# binary
czero

# CMake files
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt

# ycmd
.ycm_extra_conf.pyc
